@tailwind base;
@tailwind components;
@tailwind utilities;

.scrolled::-webkit-scrollbar {
  width: 0.5rem;
}

.scrolled::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrolled::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}
